footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "copyright contact social";
  padding: 10px;
  font-size: 0.9em;
  border-top: $elegant_blue_border;

  background-image: url("./assets/images/blue-grainy.svg");
  background-size: cover;
  background-position: center;
}

.copyright {
  grid-area: copyright;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  grid-area: social;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img {
  margin: 16px;
  width: 35px;
}
