.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "photo intro intro";
  margin: 15px;
}

.photo-grid-area {
  margin: 15px;
  grid-area: photo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .photo {
    height: 250px;
    width: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .assortment {
    margin-top: 10px;
    background: lightblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    div {
      padding: 10px;
    }
  }
}

.intro-grid-area {
  margin: 15px;
  grid-area: intro;
}

.text {
  font-family: "Montserrat";
  color: $simply_white;
}

.faded-text {
  font-family: "Montserrat";
  color: $faded_white;
}

.paragraph-title {
  font-family: "Montserrat";
  color: $cream_wheat;
}

.faded-paragraph {
  font-family: "Montserrat";
  line-height: 1.7em;
  font-size: 1.2em;
  color: $faded_cream_wheat;
}

.oulined-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1em;
}
