.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "photo intro intro";
  margin: 45px 15px 15px;
}

.photo-grid-area {
  grid-area: photo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .photo {
    img {
      width: 250px;
      border-radius: 8%;
      box-shadow: 3px 3px 3px $elegant_blue;
      border: 3px solid $elegant_darker_blue;
    }
  }

  .assortment {
    margin-top: 25px;
    background: lightblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    div {
      padding: 10px;
    }
  }
}

.intro-grid-area {
  margin: 15px;
  grid-area: intro;
}

.text {
  font-family: "Montserrat";
  color: $simply_white;
}

.faded-text {
  font-family: "Montserrat";
  color: $faded_white;
}

.paragraph-title {
  font-family: "Montserrat";
  color: $faded_cream_cherry;
}

.faded-paragraph {
  font-family: "Montserrat";
  line-height: 1.7em;
  font-size: 1em;
  color: $faded_cream_cherry;
}

.oulined-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1em;
}
