nav {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  position: fixed;
  padding: 15px 30px;
  align-items: center;
  background-size: 150% 150%;
  justify-content: space-between;
  background-color: $default_nav_background_color;

  .branding {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    font-size: 30px;
    color: lightgrey;
    align-items: center;
    white-space: nowrap;
    // background-clip: text;
    justify-content: center;
    font-family: "TitanOne";
    transition: all 0.5s ease;
    background-size: 400% 400%;
    // -webkit-background-clip: text;
    // animation: gradient-text 13s ease infinite;
    // background-image: linear-gradient(-45deg, #2a9d8f, #e9c46a, #f4a261);

    border-radius: 50%;
    border: 5px solid;
    border-image-slice: 1;
    // border-image-source: linear-gradient(-45deg, #2a9d8f, #e9c46a, #f4a261);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}
