@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate-html-skill {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes animate-js-skill {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}

@keyframes animate-css-skill {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
