@import "./keyframes.scss";

@font-face {
  font-family: "TitanOne";
  src: url("../assets/fonts/TitanOne-Regular.ttf") format("truetype");
}

$default_background_color: rgba(5, 5, 5, 0.908);
$default_nav_background_color: rgba(44, 41, 41, 0.989);

body {
  padding: 0;
  margin: 0;
  min-width: 250px;
  background-color: $default_background_color;
}

.header {
  display: flex;
  padding: 15px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: $default_nav_background_color;

  .branding {
    font-size: 30px;
    font-family: "TitanOne";
    color: transparent;
    background-clip: text;
    white-space: nowrap;
    background-image: linear-gradient(-45deg, #2a9d8f, #e9c46a, #f4a261);
    animation: gradient-branding 13s ease infinite;
    background-size: 400% 400%;
    transition: all 0.5s ease;
    -webkit-background-clip: text;
  }

  .menu {
    width: 45px;
    height: 45px;
    display: flex;
    min-width: 45px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #2a9d8f, #e9c46a, #f4a261);
    animation: gradient-branding 13s ease infinite;

    .menu-lines {
      width: 25px;
      height: 25px;
      padding: 1px;

      .menu-line {
        stroke: rgb(29, 28, 28);
        stroke-width: 2.5px;
      }
    }
  }
}
