@import "./keyframes.scss";
@import "./media-queries.scss";

@font-face {
  font-family: "TitanOne";
  src: url("../assets/fonts/TitanOne-Regular.ttf") format("truetype");
}

$default_background_color: rgba(5, 5, 5, 0.908);
$default_nav_background_color: rgba(44, 41, 41, 0.989);

body {
  padding: 0;
  margin: 0;
  background-color: $default_background_color;
}

.header {
  display: flex;
  width: 100vw;
  padding: 15px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: $default_nav_background_color;

  .branding,
  .branding-shorten {
    font-size: 30px;
    font-family: "TitanOne";
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(-45deg, #76bcc8, #f4978e, #3a6e9f);
    animation: gradient-branding 13s ease infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
  }

  .menu {
    width: 45px;
    height: 45px;
    background-image: linear-gradient(-45deg, #76bcc8, #f4978e, #3a6e9f);
    animation: gradient-branding 13s ease infinite;
    background-size: 400% 400%;
  }
}
