@import "./keyframes.scss";
@import "./media-queries.scss";

@font-face {
  font-family: "TitanOne";
  src: url("../assets/fonts/TitanOne-Regular.ttf") format("truetype");
}

$default_background_color: rgba(5, 5, 5, 0.908);
$default_nav_background_color: rgba(44, 41, 41, 0.989);

body {
  padding: 0;
  margin: 0;
  background-color: $default_background_color;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  background-color: $default_nav_background_color;

  .branding,
  .branding-shorten {
    font-size: 30px;
    font-family: "TitanOne";
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(-45deg, #76bcc8, #f4978e, #3a6e9f);
    -webkit-background-clip: text;
    animation: gradient-branding 12s ease infinite;
    background-size: 400% 400%;
  }
}
