@media only screen and (min-width: 545px) {
  main .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "hero hero hero" "about about photo" "skill-cat-1 skill-cat-2 skill-cat-3";
  }
  main .grid-container .about-grid-area {
    height: 50vh;
    align-items: center;
  }
  main .grid-container .photo-grid-area {
    height: 50vh;
  }
}

@media only screen and (min-width: 760px) {
  main .grid-container .photo-grid-area .photo-img {
    width: 250px;
    height: 250px;
  }
}
